# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Tudor\Scoala\AN IV\Sem_2\CPD_Lab\cpd_labs\Lab7_HW_maven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
